@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(../Fonts/Inter/Inter-Italic-VariableFont_opsz\wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

::selection {
  background-color: #00adb4;
  color: #f8f9f9;
}

body {
  background-color: #f8f9f9;
}

/* Width of Scroll */
::-webkit-scrollbar {
  width: 12px;
}
/* Background color of scroll */
::-webkit-scrollbar-track {
  background: #555;
}
/* color of scroll */
::-webkit-scrollbar-thumb {
  background: #00adb4;
}
/* hover of scroll */
::-webkit-scrollbar-thumb:hover {
  background: #f8f9f9;
}
